.blue__door{
    width: 57px;
    height: 81px;
    background: #84CEF9;
    margin: 35px 0 0 10px;
}
.blue__windows{
    position: relative;
}
.blue__window{
    position: absolute;
    width: 46px;
    height: 47px;
    background: #84CEF9;
}