.blue__door{
    width: 57px;
    height: 81px;
    background: #84CEF9;
    margin: 35px 0 0 10px;
}
.blue__windows{
    position: relative;
}
.blue__window{
    position: absolute;
    width: 46px;
    height: 47px;
    background: #84CEF9;
}
.blue__window:nth-child(1){
    top: 43px;
    left: 23px;
}
.blue__window:nth-child(2){
    top: 43px;
    left: 114px;
}
.blue__window:nth-child(3){
    top: 114px;
    left: 40px;
}
.blue__window:nth-child(4){
    top: 114px;
    left: 131px;
}
.blue__window:nth-child(5){
    top: 190px;
    left: 31px;
}
.blue__window:nth-child(6){
    top: 190px;
    left: 122px;
}